@use '../abstracts/abstracts' as *;
@use "sass:color";

.btn {
    background-color: $pink;
    color: $white;
    padding: 15px 55px;
    border: 0;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    font-weight: 300;
    &:hover {
        color: $grey;
        background-color: color.adjust($pink, $lightness: 5%);
        font-weight: 400;
    }
}
